[user]
	name = Yoann Blein
	email = yoann.blein@free.fr

[alias]
	c = commit
	ci = commit
	ca = commit -a
	co = checkout
	f = fetch -p
	st = status --short --branch
	br = branch
	d = diff
	dc = diff --cached
	lg = log --graph --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%ar)%Creset %Cblue(%an)%Creset' --abbrev-commit
	l = log --graph --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%ar)%Creset %Cblue(%an)%Creset' --abbrev-commit -10
	oops = reset --soft HEAD^1
	grep = grep -n
	pp = !sh -c 'git pull && git push'
	c1 = clone --depth 1

[color]
	diff = auto
	ui = auto
	status = auto
	branch = auto
	pager = true

[core]
	excludesfile = ~/.gitignore
	pager = /usr/share/git/diff-highlight/diff-highlight | less -rx1,4

[merge]
	tool = meld

[mergetool]
	prompt = false
	keepBackup = false

[diff]
	tool = vimdiff
	algorithm = histogram

[push]
	default = simple

[url "https://aur.archlinux.org/"]
    insteadOf = aur:

[url "https://github.com/"]
    insteadOf = gh:

[submodule]
	recurse-submodules = check
[commit]
	verbose = true
