! General X settings
Xft.antialias: true
Xft.hinting:   true
Xft.hintstyle: hintfull
Xft.rgba:      rgb
!Xft.rgba:      none

! URxvt - Settings
!URxvt.geometry:         80x23
URxvt.buffered:         true
URxvt.termName:         rxvt-256color
URxvt.urlLauncher:      chromium
URxvt.matcher.button:   1
URxvt.saveLines:        32768
Urxvt.urgentOnBell:     true

URxvt.internalBorder:   1
URxvt.borderColor:      #151515
URxvt.borderLess:       false
URxvt.depth:            32
*.font:           -xos4-terminus-medium-r-normal--16-160-72-72-c-80-iso10646-1
*.boldFont:       -xos4-terminus-bold-r-normal--16-160-72-72-c-80-iso10646-1

URxvt.cursorBlink:      false
URxvt.cursorUnderline:  false

URxvt.scrollBar:        off

URxvt.intensityStyles: false

! special
*.foreground:   #d0d0d0
*.background:   #1c1c1c
! black
*.color0:       #1c1c1c
*.color8:       #808080
! red
*.color1:       #ff005f
*.color9:       #d7005f
! green
*.color2:       #a6e22e
*.color10:      #7aac18
! yellow
*.color3:       #ffbe4a
*.color11:      #d7a03e
! blue
*.color4:       #00bfff
*.color12:      #0f97ff
! magenta
*.color5:       #9e6ffe
*.color13:      #8652ff
! cyan
*.color6:       #00a8b7
*.color14:      #63aab8
! white
*.color7:       #d0d0d0
*.color15:      #bcbcbc

URxvt.perl-ext-common: fork-here
URxvt.keysym.Mod4-Shift-Return: perl:fork-here:fork-at-cwd
